<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>AQ Comunica -- Cadastre seu evento</title>
	</head>
	<body>
		<h1>PREENCHA OS DADOS DO SEU EVENTO</h1>
		
		<form method="post">
			NOME: <input type="text" value="" name="nome" />
			LOCAL: <input type="text" value="" name="local" />
			DATA: <input type="date" value="" name="data" />
			INICIO: <input type="time" value="" name="horario_inicio" />
			TÉRMINO: <input type="time" value="" name="horario_fim" />
			
			<button type="submit">PUBLICAR EVENTO</button>
		</form>
	</body>
</html>